﻿@model ITL.WebUi.Models.PersonVM
@using System.Globalization



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(true);
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

 

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h2>Getting started</h2>
                <p>
                    This is the webadmin page. Please select person from the dropdown list in order to view the record from the database and to be able to edit it.
                </p>
            </div>
            <br />
            
            <div class="col-lg-8 col-md-8 col-sm-12">
                @using (Html.BeginForm())
                {
                    <fieldset class="col-md-12 col-sm-12 text-center">                      
                        <div class="form-group text-center">                         
                            @Html.Label("Registered Persons:  ")
                            @Html.DropDownList("PersonsDropList", "Select Person")                       
                        </div>                        
                    </fieldset>
                }
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div id="dynamicpartial"> </div>                
                </div>
            </div>
            



        </div>
        <br />
    </div>





    @section Scripts
{
        @Scripts.Render("~/bundles/jqueryval")
       
}

