﻿@using System.Globalization
@model ITL.Repository.Person

@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:navy">Thank you for contacting us! This is the data you send us.</h2> <br />

<div class="jumbotron">


    <div class="container">
        <div class="row">
            
            <hr />
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                @Html.LabelFor(m => m.Name) <br />
                @Html.DisplayFor(m => m.Name) <br />
                @Html.LabelFor(m => m.CPR)  <br />
                @Html.DisplayFor(m => m.CPR)<br />
                @Html.LabelFor(m => m.Email)  <br />
                @Html.DisplayFor(m => m.Email)<br />
                @Html.LabelFor(m => m.PhoneNumber)  <br />
                @Html.DisplayFor(m => m.PhoneNumber)<br />
                @Html.LabelFor(m => m.Age)  <br />
                @Html.DisplayFor(m => m.Age)<br />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                @Html.LabelFor(m => m.Roadname)  <br />
                @Html.DisplayFor(m => m.Roadname)  <br />
                @Html.LabelFor(m => m.HouseNumber)  <br />
                @Html.DisplayFor(m => m.HouseNumber)<br />
                @Html.LabelFor(m => m.PostalCode)  <br />
                @Html.DisplayFor(m => m.PostalCode) <br />
                @Html.LabelFor(m => m.City)  <br />
                @Html.DisplayFor(m => m.City) <br />
            </div>
            <hr />
        </div>
    </div>
</div>







  