﻿@model ITL.Repository.Person
@using System.Globalization

@{
 
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(true);
}


<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h2>Form Page</h2>
            <p>
                Please fulfill the form and press submit in order to send to us your details and request.
                Have a nice day! 
            </p>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">




            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

    <fieldset class="col-md-12 col-sm-12 ">
        <legend style="color:navy" class="text-center">Customer information</legend>
        <div class="row">

            <div class="col-lg-offset-1 col-md-offset-1  col-lg-5 col-md-5 col-sm-12 "> 
                <div class="dataElem">
                    @Html.LabelFor(m => m.Name) <br />
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="dataElem">
                    @Html.LabelFor(m => m.CPR) <br />
                    @Html.TextBoxFor(m => m.CPR, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CPR)
                </div>
                <div class="dataElem">
                    @Html.LabelFor(m => m.Email) <br />
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="dataElem">
                    @Html.LabelFor(m => m.PhoneNumber) <br />
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                </div>
                <div class="dataElem">
                    @Html.LabelFor(m => m.Age) <br />
                    @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Age)
                </div>
            </div>
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-5 col-md-5 col-sm-12">
                <div class="dataElem">
                    @Html.LabelFor(m => m.Roadname) <br />
                    @Html.TextBoxFor(m => m.Roadname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Roadname)
                </div>
                <div class="dataElem">
                    @Html.LabelFor(m => m.HouseNumber) <br />
                    @Html.TextBoxFor(m => m.HouseNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.HouseNumber)
                </div>                            
                <div class="dataElem">
                    @Html.LabelFor(m => m.City) <br />
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.City)
                </div>  
                <div class="dataElem">
                    @Html.LabelFor(m => m.PostalCode) <br />
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PostalCode)
                </div>               
            </div>
        </div>
        <br />
        <br />
        <div class="form-group text-center">
            <label>&nbsp;</label>
            <input class="btn btn-primary btn-lg" type="submit" name="submit" value="Submit" />
        </div>


    </fieldset>

            }
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}