﻿@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3">
            <a href="https://dk.linkedin.com/in/atanas-antonov-92b03875"> <img class="radius" src="~/Content/images/linkedin-picture.jpg" /> </a>
        </div>
        <div class="col-lg-offset-1 col-lg-9 col-md-offset-1 col-md-8 col-sm-offset-1 col-sm-8">
            <p class="lead">Hello, my name is Atanas Antonov. I am originaly from Bulgaria, but living in Aarhus from few years. 
            I have bachelor degree in Web Development from Business Academy Aarhus. Last two years I have been working with JavaScript technologies such as Node.JS , Meteor and MongoDB. 
            During my education I hold courses in backend development where I get familiar with C#, Visual Studio, .NET MVC and SQL. You can visit my Linkedin Profile for more info.
            </p>
        </div>
    </div>
    <br />
   
    <p><a href="https://dk.linkedin.com/in/atanas-antonov-92b03875" class="btn btn-primary btn-lg">Linkedin Profile &raquo;</a></p>
</div>
