﻿@using System.Globalization
@model ITL.WebUi.Models.PersonVM


@{
    ViewBag.Title = "DropdownPerson";
    Layout = null;
}




<div id="person1">
    <h2>Dynamic data for person</h2>
    <hr />
    @Html.LabelFor(m => m.Name) <br />
    @Html.DisplayFor(m => m.Name) <br />
    @Html.LabelFor(m => m.CPR)  <br />
    @Html.DisplayFor(m => m.CPR)<br />
    @Html.LabelFor(m => m.Email)  <br />
    @Html.DisplayFor(m => m.Email)<br />
    @Html.LabelFor(m => m.PhoneNumber)  <br />
    @Html.DisplayFor(m => m.PhoneNumber)<br />
    @Html.LabelFor(m => m.Age)  <br />
    @Html.DisplayFor(m => m.Age)<br />
    <hr />
    @Html.LabelFor(m => m.Roadname)  <br />
    @Html.DisplayFor(m => m.Roadname)  <br />
    @Html.LabelFor(m => m.HouseNumber)  <br />
    @Html.DisplayFor(m => m.HouseNumber)<br />
    @Html.LabelFor(m => m.PostalCode)  <br />
    @Html.DisplayFor(m => m.PostalCode) <br />
    @Html.LabelFor(m => m.City)  <br />
    @Html.DisplayFor(m => m.City) <br />

    @using (Html.BeginForm())
    {
        <fieldset class="col-md-12">
            <div class="form-group">
                 
            </div>
            <div class="form-group">
                <label>&nbsp;</label>
                <input class="btn btn-primary btn-lg" type="submit" name="DynamicEdit" id="submit" value="Edit Person" />
            </div>
        </fieldset>

    }
</div>



