﻿@model ITL.WebUi.Models.PersonVM
@using System.Globalization

@{    
    Layout = null;
    Html.EnableClientValidation(true);
}
<head>
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error {
            border: 2px solid #f00;
            background-color: #fee;
        }

        .validation-summary-errors {
            color: red;
        }

        span.field-validation-error {
            color: red;
            padding-left: 6px;
        }
    </style>

</head>   


<h3>@ViewBag.Message</h3>

<div class="row">



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset class="col-md-12 col-sm-12">
        <div class="row">
            <div class="col-lg-offset-1 col-md-offset-1  col-lg-5 col-md-5 col-sm-12 ">
                <div class="dataElem">
                    @Html.LabelFor(m => m.Name) <br />
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="dataElem">
                    @Html.LabelFor(m => m.CPR) <br />
                    @Html.TextBoxFor(m => m.CPR, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CPR)
                </div>
                <div class="dataElem">
                    @Html.LabelFor(m => m.Email) <br />
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="dataElem">
                    @Html.LabelFor(m => m.PhoneNumber) <br />
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                </div>
                <div class="dataElem">
                    @Html.LabelFor(m => m.Age) <br />
                    @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Age)
                </div>
            </div>
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-5 col-md-5 col-sm-12">
                <div class="dataElem">
                    @Html.LabelFor(m => m.Roadname) <br />
                    @Html.TextBoxFor(m => m.Roadname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Roadname)
                </div>
                <div class="dataElem">
                    @Html.LabelFor(m => m.HouseNumber) <br />
                    @Html.TextBoxFor(m => m.HouseNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.HouseNumber)
                </div>
                <div class="dataElem">
                    @Html.LabelFor(m => m.City) <br />
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.City)
                </div>
                <div class="dataElem">
                    @Html.LabelFor(m => m.PostalCode) <br />
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PostalCode)
                </div>
            </div>
        </div>
        <br />
        <div class="form-group text-center">
            <label>&nbsp;</label>
            <input class="btn btn-primary btn-lg" type="submit" name="submit" value="Save" />
        </div>


    </fieldset>





    }

</div>










@section Scripts
{
    @Scripts.Render("~/Scripts/jquery.unobtrusive*")
    @Scripts.Render("~/Scripts/jquery.validate*") 
    @Scripts.Render("~/bundles/jqueryval")
}
