﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    @Scripts.Render("~/bundles/modernizr")
     
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" /> <!-- prepares the device for determined sizes -->
    <link href="~/Content/all.min.css" rel="stylesheet" type="text/css" media="screen" runat="server" />

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="files/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="files/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="files/apple-touch-icon-72-precomposed.png">
    

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
               
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                @Html.ActionLink("Atanas Antonov", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>                   
                    <li>@Html.ActionLink("Contact Form", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Admin Page", "Admin", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <br />
        <hr />
        <address>
            <strong>Atanas Antonov</strong>   <a href="mailto:eferwe@gmail.com">eferwe@gmail.com</a><br />
            <strong>Phone:</strong> 60137266
        </address>
       
        <footer>
            <p>&copy; @DateTime.Now.Year - ITL Webbureau Test</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/all.min.js"></script>
</body>
</html>
